/* container css */

h1{
    color:darkgray;
    text-align: center;
    margin:0;
    margin-top:10px ;
}

body{
    background:url("https://images.unsplash.com/photo-1604854657221-42873468254c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1935&q=80");
    box-sizing: border-box;
    background-size:cover;
    background-repeat: no-repeat;
}

#container{
    position:relative;
    width:60%;
    margin:0 auto;
    background-color:white;
}

/* description input css */
#description{
    border-top:1px solid darkgray;
    color:darkgray;
    padding-left:2%;
}

.basic-style{
    width:96%;
    border:0;
    line-height:2rem;
    
}

input:focus{
    border-color:transparent;
    outline:none;
    
}

/* category selection */
#category{
    display:inline-block;
    width:50%;
    padding-left: 2%;
    color:darkgray;
    height:40px;
}

select{
    width:100%;
    border:0;
}

select:focus{
    outline:none;
}

/* date input */
#due-date{
    display:inline-block;
    border-left:1px solid darkgray;
    padding-left: 2%;
    color:darkgray;
    height:40px;
}

#cate-date{
    border-top:1px solid darkgray;
}

#date-input{
    border:0;
    width:100%;
}

/* buttons */

#buttons-container{
    border-top:1px solid darkgray;
    height:7rem;
    position:relative;
}

#buttons-div{
    position:absolute;
    top:50%;
    left:35%;
    transform: translate(-50%,-50%);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    margin: 1rem auto;
    border-top: 1px solid darkgray;
}

/* add task button */
#add-task{
    width:7rem;
    height:2.5rem;
    background-color:lightseagreen;
    border:0;
    color:white;
    margin:3px;
}


/* delete task button */
#delete-task{
    top:24%;
    left:52%;
    border:0;
    width:8rem;
    height:2.5rem;
    background-color: red;
    color:white;
    margin:3px;
}

/* display */
.result{
    display:flex;
    flex-direction: column;
    
    

}

.date-margin{
    margin-left:1.6rem;
    margin-top: .5rem;
    margin-bottom:.5rem;
}

.result-container{
    display:flex;
    border-top:1px solid darkgray;
    justify-content: space-between;
}

.category-margin{
    
    height:30px;
    width:60px;
    text-align: center;
    margin-top: .5rem;
    margin-right: 1rem;
    padding:3px;
    color:white;
    
}


